
<html>
<head>
<title>Result</title>
</head>
<body style="background-color:powderblue;">

<br>
<br>
<br>    

<h1>Shipping costs in €: </h1>

<br>

<p><strong>DHL express worldwide:</strong> {{dhl_express}}</p>
<p><strong>DHL economy select:</strong> {{dhl_economy}}</p>
<p><strong>UPS express saver:</strong> {{ups_express}}</p>
<p><strong>UPS standard:</strong> {{ups_standard}}</p>
<p><strong>TNT express:</strong> {{tnt_express}}</p>
<p><strong>TNT economy:</strong> {{tnt_economy}}</p>

<br>
<br>
<br>



</body>
</html>